alembic
certifi
charset-normalizer
click
colorama
Flask
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysql
mysql-connector-python
mysqlclient
protobuf
PyJWT
PyMySQL
PySocks
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms